.modal {
  max-width: 528px;
  width: 100%;
  min-height: 530px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  padding: 40px;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px black solid;
  z-index: 1;
}

.modalMainText {
  display: flex;
  justify-content: center;
  color: #181818;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.containerForPizzasModal {
  display: flex;
}

.pizzaCount {
  font-size: 22px;
  font-weight: 400;
  width: 30px;
}


.containerForClosingModal {
  display: flex;
  justify-content: flex-end;
}

.closeModal {
  font-size: 25px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.pizzaName {
  width: 220px;
  font-size: 22px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}


.deleteOrdersText {
  color: #b6b6b6;

}

.containerForButton {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}


.confirmButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fe5f1e;
  min-width: 190px;
  height: 50px;
  border-radius: 30px;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.confirmButton:hover,
.confirmButton:focus {
  background-color: #ff772e;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}


.deleteButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 30px;
}


.deleteOneTypeOfPizza {
    display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: #fe5f1e;
      min-width: 120px;
      height: 30px;
      border-radius: 30px;
      transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease;
      cursor: pointer;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      border: none;
}


.deleteOneTypeOfPizza:hover,
.deleteOneTypeOfPizza:focus {
  background-color: #ff772e;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}


.emptyBasketText{
  margin-top: 50px;
}